@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

button:hover {
  transform: scale(1.1);
}

/* navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 86px;
}

nav img {
  margin: 25px;
  height: 31px;
}

nav ul {
  list-style: none;
  display: flex;
  transition: 0.5s;
}

nav ul #closeMenu {
  display: none;
  font-size: x-large;
  text-align: right;
}

nav ul li {
  color: #303134;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
}

nav ul li * {
  text-decoration: none;
  color: #303134;
}

nav .fa-bars {
  display: none;
  font-size: x-large;
  margin: 25px;
  cursor: pointer;
}

/* slide */

.slideshow-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slideshow-container .mySlides {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.slideshow-container .mySlides .mySlide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
  animation: slider 1s linear;
}

@keyframes slider {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.slideshow-container #slide1 {
  background-color: rgba(10, 235, 216, 0.5);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slideshow-container #slide1 .price {
  display: flex;
  justify-content: center;
  position: relative;
  color: #005bd1;
  font-size: 21px;
}

.slideshow-container #slide1 .price h4 {
  position: absolute;
}

.slideshow-container #slide1 h2 {
  font-size: 72px;
  text-transform: capitalize;
}

.slideshow-container #slide1 p {
  font-size: 18px;
  text-transform: uppercase;
}

.slideshow-container .prev,
.slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: 3rem;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* service section */

#ourServices {
  margin: 0 88px 0 100px;
  padding: 55px 0;
  display: flex;
}

#ourServices #discover {
  width: 242px;
  position: relative;
  text-align: center;
  margin: 70px;
  margin: 0;
  font-weight: normal;
  text-align: left;
}

#ourServices #discover * {
  margin: 0;
}

#ourServices #discover h3 {
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

#ourServices #discover h2 {
  color: #1a1a1b;
  font-size: 26px;
  text-transform: capitalize;
}

#ourServices #discover p {
  color: #8d8d8d;
}

#ourServices #services {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#ourServices #services .service {
  display: block;
  width: 33.3%;
  padding: 0 20px 20px 20px;
  transition: transform 0.2s;
}

#ourServices #services .service img {
  width: 100%;
  height: 200px;
}

#ourServices #services .service h3 {
  text-transform: uppercase;
  color: #1a1a1b;
  font-size: 18px;
}

#ourServices #services .service p {
  color: #8d8d8d;
  font-size: 16px;
}

#ourServices #services .service:hover {
  transform: scale(1.1);
}

#ourServices #services .model {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 102, 185, 0.6);
  width: 100%;
  height: 100vh;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

#ourServices #services .model .modelcnt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  text-transform: uppercase;
  width: 350px;
  padding: 10px;
  text-align: center;
  animation-name: slideIn;
  animation-duration: 0.8s;
}

#ourServices #services .model .modelcnt img {
  width: 60%;
  float: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    top: 50%;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

/* video section where i wanted to put a rickroll */

#videoTour {
  background-image: url("../assets/video/palmtrees.png");
  background-color: rgb(109, 109, 109);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#videoTour #tourTitle {
  text-align: center;
  margin: 70px;
  margin: 0;
  margin: 50px 0;
}

#videoTour #tourTitle * {
  margin: 0;
}

#videoTour #tourTitle h3 {
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

#videoTour #tourTitle h2 {
  color: #1a1a1b;
  font-size: 26px;
  text-transform: capitalize;
}

#videoTour #tourTitle * {
  color: white !important;
}

/* milestones */

#achievements {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px 0;
}

#achievements * {
  text-align: center;
  text-transform: uppercase;
  color: #1a1a1b;
}

#achievements h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

/* featured section */

#featured {
  margin: 50px 0;
}

#featured #featuredTitle {
  text-align: center;
  margin: 70px;
  margin: 0;
  margin: 60px;
}

#featured #featuredTitle * {
  margin: 0;
}

#featured #featuredTitle h3 {
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

#featured #featuredTitle h2 {
  color: #1a1a1b;
  font-size: 26px;
  text-transform: capitalize;
}

#featured #tourPackages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}

#featured #tourPackages .tourPackage {
  width: 270px;
  height: fit-content;
  text-align: center;
}

#featured #tourPackages .tourPackage .bagde {
  position: absolute;
  background-color: #fed701;
  color: #1a1a1b;
  font-size: 14px;
  padding: 5px 10px;
  margin: 10px;
  text-transform: capitalize;
}

#featured #tourPackages .tourPackage img {
  width: 270px;
  height: 250px;
}

#featured #tourPackages .tourPackage .packageInfo {
  padding: 20px;
}

#featured #tourPackages .tourPackage .packageInfo h2 {
  font-size: 18px;
  color: #4b54fa;
  text-transform: capitalize;
}

#featured #tourPackages .tourPackage .packageInfo p,
#featured #tourPackages .tourPackage .packageInfo h3 {
  font-size: 14px;
  color: #1a1a1b;
}

/* discount section */

#discount {
  background: linear-gradient(
      rgba(70, 255, 246, 0.664),
      rgba(70, 220, 225, 0.664)
    ),
    url("../assets/discount/bentman.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  margin: 50px 0;
  color: white;
}

#discount h2 {
  font-size: 34px;
  text-transform: capitalize;
}

#discount h4 {
  font-size: 18px;
}

#discount #input input {
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 25px;
  width: 400px;
  padding: 16px 30px;
  font-size: 16px;
  font-weight: 900;
  margin: 40px;
}

#discount #input input::placeholder {
  color: white;
  font-weight: 900;
}

#discount #input input:focus {
  outline: none;
}

#discount #input button {
  padding: 19px 33px;
  font-size: 16px;
  font-weight: 900;
  color: #08aeea;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  border: none;
}

/* testimony section */

#happyTravelers #travelersTitle {
  text-align: center;
  margin: 70px;
  margin: 0;
}

#happyTravelers #travelersTitle * {
  margin: 0;
}

#happyTravelers #travelersTitle h3 {
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

#happyTravelers #travelersTitle h2 {
  color: #1a1a1b;
  font-size: 26px;
  text-transform: capitalize;
}

#happyTravelers #travelers {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 100px;
}

#happyTravelers #travelers .traveler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 35px;
  width: 400px;
  background-color: #f4f4f4;
}

#happyTravelers #travelers .traveler .image-frame {
  width: 85px;
  height: 85px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#happyTravelers #travelers .traveler .image-frame img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#happyTravelers #travelers .traveler h2 {
  font-size: 18px;
  color: #4b54fa;
  text-transform: capitalize;
}

#happyTravelers #travelers .traveler p {
  font-size: 16px;
  color: #1a1a1b;
}

#happyTravelers #travelers .traveler .fa-solid {
  font-size: xx-large;
  color: #2c2c2c;
}


/* booking */

#ready {
  background-image: url("../assets/ready/chloridelake.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#ready h2 {
  color: #fefeff;
  font-size: 36px;
  margin: 5rem;
  text-align: center;
}

#ready button {
  margin-bottom: 100px;
  padding: 19px 40px;
  background: linear-gradient(#08aeea, #2af598);
  color: white;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* hotspots */

#popularCountry {
  margin: 60px 0;
}

#popularCountry #countryTitle {
  text-align: center;
  margin: 70px;
  margin: 0;
  margin: 50px;
}

#popularCountry #countryTitle * {
  margin: 0;
}

#popularCountry #countryTitle h3 {
  color: #8d8d8d;
  font-size: 16px;
  text-transform: uppercase;
  margin: 5px;
}

#popularCountry #countryTitle h2 {
  color: #1a1a1b;
  font-size: 26px;
  text-transform: capitalize;
}

#popularCountry #countries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#popularCountry #countries .country {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
  height: 425px;
  overflow: hidden;
  padding: 0 20px;
}

#popularCountry #countries .country img {
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: brightness(70%);
}

#popularCountry #countries .country h2 {
  text-transform: capitalize;
  font-size: 30px;
  color: white;
  margin: 0;
}

#popularCountry #countries .country p {
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
}

#popularCountry #countries .country .fa-solid {
  position: absolute;
  margin-left: 13rem;
  bottom: 20px;
  background: linear-gradient(#08aeea, #2af598);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
}

/* footer */

footer {
  background-color: #141418;
  padding-bottom: 2rem;
}

.footer-content-wrapper {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 1px solid rgba(232, 232, 232, 0.5);
}

@media screen and (max-width: 1124px) {
  .footer-content-wrapper {
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 910px) {
  .footer-content-wrapper {
    gap: 5rem;
  }
}

ul {
  list-style: none;
}

.footer-col h4 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 3rem;
  font-weight: bold;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-col ul li a {
  font-size: 1.6rem;
  color: #dcdbdb;
  text-decoration: none;
  font-weight: 500;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.subscribe-icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.7rem;
  width: 5.8rem;
  background: linear-gradient(
    to top,
    rgba(8, 174, 234, 1),
    rgba(42, 245, 152, 1)
  );
  cursor: pointer;
}

.subscribe-icon-wrapper:hover {
  background: linear-gradient(
    to top,
    rgba(8, 174, 234, 0.6),
    rgba(42, 245, 152, 0.6)
  );
}

.footer-columns-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.copy {
  font-size: 2rem;
  color: #dcdbdb;
  text-align: center;
  margin-top: 2rem;
}

.footer-subscribe-title {
  font-size: 1.6rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.subscribe-container {
  position: relative;
  height: 4.7rem;
  display: block;
}

.newsletter-input {
  border: none;
  outline: none;
  width: 34rem;
  height: 4.7rem;
  padding-left: 1.5rem;
  padding-right: 7rem;
  font-size: 1.6rem;
  color: #353030;
}

@media screen and (max-width: 400px) {
  .newsletter-input {
    width: 20rem;
  }
}

@media only screen and (max-width: 1100px) {
  #ourServices #services .service {
    width: 50%;
  }
  footer table {
    width: 100%;
    padding: 20px 0 0 0;
  }
}

@media only screen and (max-width: 900px) {
  .slideshow-container {
    height: 400px;
  }
  #ourServices {
    flex-wrap: wrap;
  }
  #ourServices #discover {
    width: 100%;
    height: fit-content;
    text-align: center;
  }
  #ourServices #services .service {
    margin-top: 1rem;
  }
  #ourServices #services .model .modelcnt {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: 0.5s;
    margin: 0;
    text-align: center;
    background-color: white;
    z-index: 3;
    flex-direction: column;
    padding: 0;
  }
  header ul #closeMenu {
    display: block;
  }
  header .fa-bars {
    display: block;
  }
  .slideshow-container #slide1 .price {
    font-size: 15px;
  }
  .slideshow-container #slide1 .price img {
    width: 170px;
  }
  .slideshow-container #slide1 h2 {
    font-size: xx-large;
  }
  .slideshow-container #slide1 p {
    font-size: small;
  }
  #ourServices {
    margin: 0;
    padding: 20px 0;
  }
  #videoTour iframe {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .slideshow-container {
    height: 200px;
  }
  .slideshow-container .prev,
  .slideshow-container .next {
    font-size: 11px;
    padding: 5px;
  }
  #ourServices #services .service {
    width: 100%;
  }
  #discount #input input {
    width: 100%;
    margin: 20px 0;
  }
  #happyTravelers #travelers {
    padding: 0;
  }
  #happyTravelers #travelers .traveler {
    width: 100%;
  }
}
.api-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.api-input-wrapper p {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.api-input-wrapper input {
  padding-left: 2rem;
  width: 30rem;
  height: 5rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  outline: none;
}

.api-btn {
  font-size: 1.2rem;
  border: none;
  padding: 1rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(
    to top,
    rgba(8, 174, 234, 1),
    rgba(42, 245, 152, 0.9)
  );
}

.api-btn:hover {
  background: linear-gradient(
    to top,
    rgba(0, 255, 255, 0.5),
    rgba(42, 130, 245, 0.9)
  );
}

.imgs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
